.img{
  background-blend-mode: screen;
  size-adjust: 40% all;
  object-fit: contain;


}

.material-icons-round{
  size: 20vmin;
  color: whitesmoke;
  background-color: white;
  flex: 15px;
}
.header::hover{
  background-color: white;
  transition: 2.3s;
}
.submit{
  color: antiquewhite;
  background-color: cornflowerblue;

}
.submit::hover{
  color: black;
  background-color: coral;
}
.row ghanaian-names{
  color: gray;
